Django==1.4.3
Fabric==1.6.0
MySQL-python==1.2.4
Pygments==1.6
South==0.7.6
amqp==1.0.8
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.21
bpython==0.12
celery==3.0.15
distribute==0.6.35
django-celery==3.0.11
django-picklefield==0.1.9
importlib==1.0.2
iniparse==0.3.1
kombu==2.5.6
ordereddict==1.1
paramiko==1.10.0
pycrypto==2.6
pycurl==7.19.0
pygpgme==0.1
pyparsing==1.5.6
python-dateutil==1.5
python-nmap==0.2.7
pytz==2012j
urlgrabber==3.9.1
virtualenv==1.8.4
yum-metadata-parser==1.1.2
yum-presto==0.4.4
PyMongo
