Fabric
bpython
distribute
importlib
iniparse
kombu
ordereddict
paramiko
pycrypto
pycurl
pygpgme
pyparsing
python-dateutil
pytz==2012j
urlgrabber
virtualenv
pyflakes
pep8
flake8
mccabe
nose
pylint
elasticsearch
jsonpickle
simplejson
